/*ROOT*/
:root{
    --black: #000000;
    --fucsia: #e53170;
}


/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC*/

body{
    font-size: 15px;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}


.font{
    
}

img{
    width: 80px;
}


.font-small{
    
}


/*MAIN*/

header, .article{
    margin: 2rem 0;
    text-align: center;
    border: solid black;
}

h1{
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

section{
    margin-bottom: 2rem;
}

.image-clear{
    float: left;
}

.clearfix::after{
    content:'';
    clear: both;
    display: table;
}

.row{
    margin: 
}

.card{
    float: left;
    text-align: center;
    width: calc(100% / 3 - 2rem);
    border: 2px solid black;
    margin: 0 1rem;
}