/*ROOT*/
:root{
    --black: #000000;
    --fucsia: #e53170;
    --light-blue : #6dcae5;
}


/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC*/
body{
    font-size: 15px;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

h1{
    color: var(--fucsia);
}

h3{
    color: white;
}

.email{
    color: var(--light-blue);
}


/*MAIN*/
header, .article{
    margin: 2rem 0;
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

p{
   color: white;
}

#sotto-titolo{
    color: var(--black);
    font-weight: 600;
}

/*CARD*/
section{
    margin-bottom: 2rem;
}

img{
    float: left;
    padding-right: 1rem;
    width: 100px;
}


.clearfix::after{
    content:'';
    clear: both;
    display: table;
}

.card{
    float: left;
    text-align: left;
    width: calc(100% / 3 - 2rem);
    background-color: var(--black);
    margin: 0 1rem;
}

.card :last-child{
    cursor: pointer;
    color: var(--light-blue);
}