/*ROOT*/
:root




/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERIC*/

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1080px;
}


.font{
    font-size: 15px;
}

.font-small{
    
}


/*MAIN*/

h1{
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}